{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vertex - email verification</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/verify_otp.css' %}">    
    <link rel="stylesheet" href="{% static 'css/verify_otp.css' %}">
</head>
<body>

<div class="container">

    <div class="card">

        <h2>Email Verification</h2>

        <p class="subtitle">
            We've sent a verification code to {{user.email}}.
            Please enter the 6-digit OTP below.
        </p>

        <form method="POST" id="otpForm">
            {% csrf_token %}

            <div class="form-group">

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                <label for="{{ form.otp.id_for_label }}">
                    Verification Code
                </label>
                {{ form.otp }}

                {% if form.otp.errors %}
                    <small class="error">
                        {{ form.otp.errors.0 }}
                    </small>
                {% endif %}

            </div>

           <div class="otp-timer" id="otpTimer">
            OTP expires in <span id="countdown">02:00</span>
            </div>
            <button type="submit">
                Verify OTP
            </button>
        </form>

        <div class="footer">
            <p>
                Didn't receive the code?
            </p>
            <a class="btn btn-primary" href="{% url 'users:resend_otp' %}" style="text-decoration: none; color :white;">
                Resend OTP
            </a>
        </div>

    </div>

</div>
<script>
    const otpExpiresAt = "{{ expires_at|date:'c' }}";
</script>
<script src="{% static 'js/verify_otp.js' %}"></script>
</body>
</html>
